/* *(start) will target every thing in the document 
*{
    margin:0;
    padding:0;
}
*/
body{
    background-color: #f4f4f4;
    color:#555555;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    /*font:normal 16px Arial, Heldvetica, sans-serif;  //same as above */

    line-height: 1.6em; /* space between the line*/
    margin: 0; /* its space from top execept hello world because heading has a margin by default*/

}

a{
    text-decoration: none; 
    color: green; /* change the color of the link */
}

a:hover{
    color:red; /* when you scrol the color change to red */
}

a:active{
    color:blue; /* when you click the color will change to blue*/
}

/*
a:visited{
    color:black; // change the color of the link 
}
*/
.container{
    width: 80%;
    margin:auto;
}

/* if its a class we use dot(.) */

.box-1{
    background-color:green;
    color:#fff;
    border-right:5px red solid; /* like putting square*/
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid ;
/*  border: 5px red solid; this is a short cut */
    border-width: 3px; /* for the all sides*/
    border-bottom-width: 10px; /* this is to target */
    border-top-style:dotted;

    padding-top:20px; /* is the space betwen line of the border on top and text */
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;

/*  padding:20px; //same as above */

    margin-top:20px; /* margin is a space between text and sheet */
    margin: 20px 0; /* o; is the right and left 20px is for top and bottom */

}

.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    Letter-spacing: 0.2em;
    word-spacing: 1em;
    
}

.box-2{
    border: 3px dotted red;
    padding:20px; /* draw the border the space betwen text and border all 4 sides*/
    margin :20px 0; /* the space betwen border we draw and sheet all sides*/

}

.categories{
    border: 1px #ccc solid;
    padding:10px;
    border-radius:15px; /* give round the corner*/
}

.categories h2{
    text-align: center;
}
.categories ul{

}

.categories ul{
    padding-left:20;
    list-style: square;
    list-style: none; /* take out the dot */
}

.categories li {
    padding-bottom: 6px;
    border-bottom: dotted 1px;
    list-style-image: url('../images/check.png');
}